* {
    font-family: Arial;
}

p {
    margin-block-start: 8px;
    margin-block-end: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), 
    url(./fonts/MaterialIcons-Regular.woff2) format('woff2'), 
    url(./fonts/MaterialIcons-Regular.woff) format('woff'), 
    url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material_icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
}

#corpo {
    width: 100%;
    margin-top: 64px;
    display: grid;
    grid-template-columns: 200px auto 350px;
    grid-template-rows: auto;
}

#cabecalho {
    position: fixed; /* posição fixada da barra de menu */
    top: 0; /* extremidade das margens */
    left: 0; /* extremidade das margens */
    width: 100%;
    height: auto;
    background-color: #336699;
}

.title {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

#menu_title {
    padding-left: 10px;
    font-size: 14px;
    line-height: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #336699;
}

#main_title {
    margin: 5px;
    background-color: #336699;
    border-radius: 6px;
    color: #fff;
}

#side_title {
    margin: 5px;
    background-color: #336699;
    border-radius: 6px;
    color: #fff;
}

#menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#box_title {
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu_btn {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .0);
}

.menu_btn:hover {
    background-color: rgba(51, 102, 153,.1);
}

#main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content {
    background-color: azure;
    grid-column-start: 2;
    grid-column-end: 4;
    height: 187px;
    margin: 5px;
    border-radius: 6px;
    text-align: justify;
    line-height: 35px;
}

#side {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

#box {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box_item {
    margin: 2px;
    width: 24%;
    /* max-width: 235px; */
    background-color: #336699;
}

#rodape {
    position: absolute;
    width: 100%;
    left: 0;
    background: url(./img/backgrounds/rdp_bkg_flores_blue.png);
    background-size: 64px;
    background-repeat: repeat;
    background-position: left;
    grid-column-start: 1;
    grid-column-end: 4;
}

.bar_container {
    position: relative;
    height: auto;
    margin: auto 0;
    margin-right: 60px;
    margin-left: 60px;
}

#icon {
    background: url(./img/icons/logo_white.png) no-repeat center;
    background-size: 32px;
}

#icon span {
    padding: 1px 1px;
}

#menu {
    top: 0;
}

#bar {
    max-width: 1200px;
    height: 64px;
    margin: 0 auto;
}

#btn_login {
    position: absolute;
    right: 0;
}

.btn_bar {
    font-size: 14px;
    line-height: 60px;
    position: relative;
    top: 0;
    display: inline-block;
    min-width: 32px;
    width: auto;
    height: 60px;
    margin-left: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: #fff;
    border-top: 2px solid #ffffff00;
    border-bottom: 2px solid #ffffff00;
    transition: .1s ease-in-out;
}

#menu .btn_bar:hover {
    border-bottom: 2px solid #ffffff;
}

#creditos .btn_bar:hover {
    border-top: 2px solid #ffffff;
}

.btn_webmaster {
    line-height: 24px;
    position: absolute;
    top: 16px;
    height: 24px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: #336699;
    transition: .1s ease-in-out;
    border-radius: 6px;
    background: rgba(255, 255, 255,.8);
}

.btn_webmaster:hover {
    color: #fff;
    background: #336699;
}

/* limpa configurações de links pre-definidas */
a:visited, a:active, a:link {
    text-decoration: none;
    color: #336699;
}
a:hover {
    text-decoration: none;
}
/* limpa configurações de links pre-definidas */