#barra_fixa {
    position: fixed; /* posição fixada da barra de menu */
    top: 0; /* extremidade das margens */
    left: 0; /* extremidade das margens */
    width: 100%;
    height: auto;
    background-color: #336699;
}

#menu_bar_container {
    position: relative;
    top: 0;
    height: auto;
    margin: auto 0;
    margin-right: 60px;
    margin-left: 60px;
}

#menu_bar {
    max-width: 1200px;
    min-height: 60px;
    margin: 0 auto;
}

#btn_login {
    position: absolute;
    right: 0;
}

.menu_bar_btn {
    font-family: arial;
    font-size: 14px;
    line-height: 60px; /* altura da linha */
    position: relative;
    top: 0;
    display: inline-block;
    width: auto;
    height: 60px;
    margin-left: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, .0); /* transformação */
    transition: .1s ease-in-out;
}

.menu_bar_btn:hover {
    border-bottom: 2px solid white;
}

/* limpa configurações de links pre-definidas */
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/* limpa configurações de links pre-definidas */